body{
    font-family: 'Consolas';
    font-size: 18px;
}

h1{
    font-size: 30px;
    text-align: center;
    color: #849485;
    letter-spacing: 2px;
    font-family: 'Bookman Old Style';
}

table{
    width: 100%;
    max-width: 100%;

    tr{        
        height: 25px;
        text-align: center;
        .text-center{
            text-align: center;
        }
        input{
            width: 120px;
            max-width: 100%;
        }
        th{
            background-color:#849c85;
            // background: linear-gradient(#849c85, #98b599);
            color: white;
            text-align: left;
            text-indent: 10px;
            font-size: 17px;
        }
        &:nth-child(1){
            th{
                border-top-left-radius: 7px;
                border-top-right-radius: 7px;
                height: 50px;
                font-size: 20px;
                letter-spacing: 1px;
            }
        }
        &:nth-child(8){
            th, td{
                border-bottom-left-radius: 7px;
                border-bottom-right-radius: 7px;
                height: 40px;
            }
        }
    }
    .dc-color1{
        background-color: #d1d9b2;
    }
    .dc-color2{
        background-color: #fffbe9;
    }
    .dc-color1 th button, .dc-color2 td button{
        width: 100px;
        max-width: 100%;
        height: 30px;
        font-family: "Consolas";
        letter-spacing: 1px;
        font-weight: bold;
        background-color: #FFED9A;
        color: #998d5c;
        border-radius: 6px;
        border-color: #998d5c;

        &:hover{
            cursor: pointer;
            background-color: #998d5c;
            color: #FFED9A;
            box-shadow: -1px -1px 2px #ccc;
        }
        &:active{
            position:relative;
            top: 1.5px;
            left: 1.5px;
        }
    }
    .dc-color1{
        &:nth-child(1){
            th{
                width: 250px;
                max-width: 100%;
            }
        }
        &:nth-child(8){
            th{
                text-align: center;
                text-indent: 0px;
                button{
                    width: 150px;
                    text-align: center;
                    }
            }
        }
    }
    .interpretation{
        height: 35px;
        .show{
            &:before{
                content: "show";
            }
            width: 100px;
            max-width: 100%;
            height: 25px;
            margin: 10px;
            font-family: "Consolas";
            letter-spacing: 1px;
            font-weight: bold;
            background-color: #b7adcc;
            color: white;
            border-radius: 6px;
            border-color: #898199;

            &:hover{
                cursor: pointer;
                background-color: #856fb3;
                color: white;
                box-shadow: -1px -1px 2px #ccc;
            }
            &:active{
                position:relative;
                top: 1.5px;
                left: 1.5px;
            }
        }
        .hide{
            &:before{
                content: "hide";
            }
            width: 100px;
            max-width: 100%;
            height: 25px;
            margin: 10px;
            font-family: "Consolas";
            letter-spacing: 1px;
            font-weight: bold;
            border-radius: 6px;
            border-color: #898199;
            background-color: #856fb3;
            color: white;
            box-shadow: -1px -1px 2px #ccc;
            // display: none;
            &:hover{
                cursor: pointer;
                background-color: #b7adcc;
                color: white;
                box-shadow: -1px -1px 2px #ccc;
            }
        }
        p{
            font-size: 16px;
            text-align: left;
            padding-left: 10px;
            padding-right: 10px;
            display: none;
        }
    }
}